#main {
    padding: 0.5rem;

    .container {
        background-color: #d3d3d3;
        padding: 0.5rem;
        border-radius: 5px;
        margin-bottom: 1rem;

        .title {
            font-size: 1.4rem;
            font-weight: 300;
            border-bottom: 1px solid black;
        }

        .info_container {
            display: flex;
            margin: 0.5rem 0;
            font-size: 0.9rem;
            align-items: center;

            .info-label {
                width: 8rem;
                font-weight: 300;
            }

            input[type="text"],
            textarea,
            input[type="date"] {
                font-family: "Roboto", sans-serif;
                border: none;
                outline: none;
                padding: 0.4rem;
                border-radius: 5px;
            }

            input[type="text"],
            textarea {
                width: 460px;
                resize: vertical;
            }

            textarea {
                height: 4rem;
            }
        }

        .button_group {
            padding-left: 8rem;
            .btn {
                display: inline-flex;
                align-items: center;
                margin: 0.25rem;

                .btn_icon {
                    width: 1.2rem;
                    height: 1.2rem;
                    margin-right: 5px;
                }
            }
        }

        .track_list_container {
            padding: 1rem;
            margin-top: 1rem;
            width: fit-content;

            & > h4 {
                font-weight: 300;
                padding-bottom: 0.25rem;
            }

            .tracks_list {
                // padding: 0.5rem;
                max-height: 240px;
                overflow-y: scroll;

                .track_item {
                    margin: 0.5rem;
                    margin-top: 5px;
                    padding-bottom: 0.5rem;
                    border-bottom: 1px solid #888;
                    max-width: 640px;

                    .date {
                        font-weight: 300;
                        font-size: 0.8rem;
                        margin-bottom: 3px;
                    }

                    .track_head {
                        display: flex;
                        align-items: flex-start;

                        .head {
                            font-size: 1rem;
                            font-weight: 500;
                        }

                        .icon {
                            margin-left: 3px;
                            color: darkred;
                            width: 16px;
                            height: 16px;
                            cursor: pointer;
                        }
                    }

                    .description {
                        margin-top: 5px;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}
