#main {
    padding: 0.5rem;

    .container {
        background-color: #d3d3d3;
        padding: 0.5rem;
        border-radius: 5px;
        margin-bottom: 1rem;

        .form_list_container {
            // background-color: blue;
            display: flex;
            align-items: flex-start;
        }

        .title {
            font-size: 1.4rem;
            font-weight: 300;
            border-bottom: 1px solid black;
        }

        .id_info_container {
            display: flex;
            gap: 20px;
        }

        .info_container {
            display: flex;
            margin: 0.5rem 0;
            font-size: 0.9rem;
            align-items: center;

            .info-label {
                width: 8rem;
                font-weight: 300;
            }

            input[type="text"],
            textarea,
            input[type="date"] {
                font-family: "Roboto", sans-serif;
                border: 2px solid white;
                outline: none;
                padding: 0.4rem;
                border-radius: 5px;
            }

            input[type="text"],
            textarea {
                width: 460px;
                resize: vertical;
            }

            textarea {
                height: 4rem;
            }

            input[type="text"]:focus,
            textarea:focus,
            input[type="date"]:focus {
                border-color: green;
            }

            .assignees_container {
                display: flex;
                // background-color: red;

                .assignee_btn {
                    display: inline-flex;
                    align-items: center;
                    padding: 5px 10px;
                    border-radius: 5px;
                    background-color: #eee;
                    margin-left: 5px;
                    cursor: pointer;

                    &.leader {
                        border-color: gold;
                        // background-color: gold;
                    }

                    .assignee_name {
                        font-size: unset;
                    }

                    .remove_icon {
                        width: 1rem;
                        height: 1rem;
                        margin-left: 3px;
                        color: darkred;
                    }

                    &:hover {
                        .remove_icon {
                            color: red;
                        }
                    }
                }
            }
        }

        .button_group {
            padding-left: 8rem;
            .btn {
                display: inline-flex;
                align-items: center;
                margin: 0.25rem;
            }
        }

        .track_list_container {
            padding: 0 1rem;
            margin-top: 1rem;
            flex-grow: 1;

            .head {
                // display: flex;
                // align-items: center;
                margin-bottom: 0.5rem;
                h4 {
                    font-weight: 300;
                    padding-bottom: 0.25rem;
                }
            }

            .tracks_list {
                min-height: 10rem;
                max-height: 15rem;
                overflow-y: scroll;
                background-color: #ccc;
                flex-grow: 1;

                .track_item {
                    padding: 0.5rem;
                    border-bottom: 1px solid #888;

                    &:hover {
                        background-color: #bbb;
                    }

                    .date {
                        font-weight: 300;
                        font-size: 0.8rem;
                        margin-bottom: 3px;
                    }

                    .track_head {
                        display: flex;
                        align-items: flex-start;

                        .head {
                            font-size: 1rem;
                            font-weight: 500;
                        }

                        .icon {
                            margin-left: 3px;
                            color: darkred;
                            width: 16px;
                            height: 16px;
                            cursor: pointer;
                        }
                    }

                    .description {
                        margin-top: 5px;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}
