#sidebar {
    width: 20%;
    min-width: 360px;
    height: 100vh;
    background-color: #eee;
    padding: 0.5rem;

    #searchbar {
        display: flex;

        .searchbox {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 90%;
            padding: 0.5rem;
            border-radius: 2rem;

            input {
                width: 90%;
                border: none;
                outline: none;
            }

            .search_btn {
                cursor: pointer;
                color: gray;
            }
        }

        .filter_btn {
            cursor: pointer;
            padding: 5px;
            margin: auto 0;
        }
    }

    .search_result {
        display: flex;
        margin-top: 0.5rem;
        gap: 2rem;
        font-size: 0.8rem;
        justify-content: center;
    }

    .filter {
        background-color: #dddddd;
        padding: 0.5rem;

        h2 {
            font-weight: 500;
            font-size: 1.1rem;
            border-bottom: 2px solid #808080;
        }

        .filters_grid {
            padding: 0.5rem;

            .label {
                font-weight: 300;
            }
        }
    }
}
