.custom_checkbox_label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  background-color: white;
  color: black;
  margin: 0 0.1rem;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.custom_checkbox_label.checked {
  background-color: white;
}

.custom_checkbox_label input[type="checkbox"] {
  display: none;
}

#sidebar {
  position: relative;
  background-color: #eee;
  padding: 0.5rem;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sidebar::-webkit-scrollbar {
  width: 3px;
}

#sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #ddd;
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#sidebar #searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sidebar #searchbar .searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  width: 90%;
  padding: 0.5rem;
  border-radius: 2rem;
}

#sidebar #searchbar .searchbox input {
  width: 90%;
  border: none;
  outline: none;
}

#sidebar #searchbar .searchbox .search_btn {
  cursor: pointer;
  color: gray;
}

#sidebar #searchbar .filter_btn {
  cursor: pointer;
  padding: 5px;
  margin: auto 0;
}

#sidebar .search_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem auto;
  gap: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sidebar .filter {
  background-color: #ddd;
  padding: 0.5rem;
  border-radius: 0.25rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#sidebar .filter.hide {
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  padding: 0;
  overflow: hidden;
}

#sidebar .filter h2 {
  font-weight: 500;
  font-size: 1.1rem;
  border-bottom: 2px solid #808080;
}

#sidebar .filter .filters_grid {
  padding: 0.25rem;
}

#sidebar .task_list {
  padding: 0 0.25rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#sidebar .task_list .task_item {
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-bottom: 1px solid #aaa;
}

#sidebar .task_list .task_item.selected {
  -webkit-box-shadow: 2px 2px 2px #ccc;
          box-shadow: 2px 2px 2px #ccc;
  background-color: rgba(211, 211, 211, 0.5);
}

#sidebar .task_list .task_item:active {
  background-color: lightgray;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#sidebar .task_list .task_item .task_head {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

#sidebar .task_list .task_item .task_head h3 {
  font-size: 1rem;
  font-weight: 500;
}

#sidebar .task_list .task_item .task_head .status {
  border: 1px solid;
  padding: 2px 5px;
  border-radius: 1rem;
  font-size: 0.5rem;
  font-weight: normal;
}

#sidebar .task_list .task_item .task_head .status.active {
  border-color: blue;
  color: blue;
}

#sidebar .task_list .task_item .task_head .status.done {
  border-color: green;
  color: green;
}

#sidebar .task_list .task_item .task_head .status.cancelled {
  border-color: gray;
  color: gray;
}

#sidebar .task_list .task_item .task_description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 5px 0;
  text-align: justify;
}

#sidebar .task_list .task_item .task_details {
  margin: 0.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

#sidebar .task_list .task_item .task_details .icon {
  width: 1.2rem;
  height: 1.2rem;
}

#sidebar .task_list .task_item .task_details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

#sidebar .task_list .task_item .task_details .priority {
  font-weight: bold;
}

#sidebar .task_list .task_item .task_details .assignees {
  font-weight: 300;
}

#sidebar .task_list .task_item .task_details .assignees .warning {
  color: gray;
  font-style: italic;
  font-weight: 400;
}
/*# sourceMappingURL=sidebar.css.map */