.radio_label,
.checkbox_label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    cursor: pointer;
    padding: 5px 10px;
    color: black;
    margin: 0 0.1rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: lightgray;
}

.radio_label.checked {
    background-color: white;
}

#page {
    margin-left: 24rem;
    height: 100vh;
    padding: 0.5rem;
}

#sidebar {
    position: fixed;
    width: 23rem;
    height: 100vh;
    box-shadow: 5px 5px 5px #bbb;
}

.no-border {
    border: none !important;
    outline: none !important;
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 5px;
    transition: all 0.05s;
    font-weight: 300;

    display: inline-flex;
    align-items: center;
}

.btn:active {
    transform: scale(0.98);
}

.btn.btn-submit {
    background-color: green;
    color: white;
}

.btn.btn-submit:focus-visible {
    border-color: white;
}

.btn.btn-info {
    background-color: white;
    color: black;
}

.btn.btn-info:focus-visible {
    border-color: #333;
}

.btn.btn-danger {
    background-color: #ddd;
    color: #333;
}

.btn.btn-danger:focus-visible {
    border-color: darkred;
}

.btn .btn_icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 5px;
}
/* .btn.btn-danger:hover {
    background-color: darkred;
    color: white;
} */
